# Ignore Windows junk
Thumbs.db
desktop.ini

# Ignore executables
*.exe
*.dll
*.obj
*.lib
*.exp

# Ignore build folders
bin/
obj/

# Ignore addtional CMake relevant
Worksheet4/**/build/

# Ignore Doxygen builds
Worksheet5/html/
Worksheet5/latex/

# Worksheet 5 generated outputs
Worksheet5/build/
Worksheet5/html/
Worksheet5/latex/

# Ignore build artefacts entirely
**/build/

# Qt Creator / Qt
**/.qtcreator/
**/*.user
**/*.user.*
**/*.qtc
**/*.qtc.*
**/.qtc/
**/.qtc_clangd/
**/.qt/

# Increase ignores to prevent useless mixup
**/build*/
**/build/**
**/Release/**
**/Debug/**
Worksheet4/releases/


